@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@700&family=Roboto&display=swap');
@font-face {
    font-family: source-sans-pro-regular;
    src: url(resources/fonst/source-sans-pro-regular.ttf);
}

.main-background {
    background-image: url("resources/images/background.png");
	background-size:100%;
    background-position: right top;
    background-repeat: no-repeat;
}

.logo {
    background-image: url("resources/images/logo.png");
    width: 129px;
    height: 91px;
    margin-top: 13px;
    margin-left: 98px;
}

.block-navigation {
    display: flex;
    flex-direction: row;
    margin-top: 67px;
    margin-right: 119px;
}
.text-navigation {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin: 0px 16px;
}

.block-header {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.text-title-header {
    text-align: center;
    font-family: "source-sans-pro-regular";
    font-size: 180px;
    color: white;
    justify-content: center;
}
.text-description-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    align-self: center;
}
.text-button-header {
    text-align: center;
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;
    background-color: #C01686;
    margin-top: 78px;
    margin-bottom: 349px;
    padding: 20px 58px;
    align-self: center;
}

.block-guaranteed {
    margin-top: 152px;
    margin-bottom: 67px;
}
.text-subtitle-block-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #A4A4A4;
}
.text-title-block-description {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #15161A;
    margin-bottom: 13px;
}
.text-description-block-description {
    font-family: "Lora", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #474747;
    margin: 0px 496px;
}

.block-achievements {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circle {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #9F023F;
    display: inline-block;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #9F023F;
}
.title-achievements {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #9F023F;
}
.achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 36.5px;
}

.button {
    border: 1px solid #C01686;
    padding: 20px 61px;
    align-self: center;

    text-align: center;
    font-family: 'Lora', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #C01686;
}

.third-page {
    background-color: rgba(229, 229, 229, 0.39);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 167px;
}
.block-services {
    margin-top: 97px;
    margin-bottom: 92px;
}
.card {
    height: 310px;
    font-weight: 435px;
    margin: 18.5px 14px;
    justify-content: center;
    align-items: center;
    
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
}
.card-icon {
    height: 80px;
    width: 80px;
}
.text-card-title {
    font-size: 36px;
}
.text-card-discription {
    font-size: 18px;
}

.block-projects {
    margin-top: 93px;
    margin-bottom: 29px;
}